.pill-container {
  position: relative;
  max-width: 70%;
  margin-bottom: 25px;
  border-radius: 20px;
  .pill-msg {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    background: $userChatBg;
    color: $userChatColor;
    padding: 5px 15px;
    border-radius: 10px;
  }
}